@import "tailwindcss";


.glass-panel {
  background: rgba(10, 10, 15, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.glass-panel:hover {
  border: 1px solid rgba(0, 240, 255, 0.5);
  box-shadow: 0 10px 40px rgba(0, 240, 255, 0.15), inset 0 0 20px rgba(0, 240, 255, 0.05);
  transform: translateY(-5px);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f0f13;
}

::-webkit-scrollbar-thumb {
  background: #1f1f2e;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2f2f3e;
}
